<article class="doc">
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{#if (eq page.layout 'responsible')}}
<table>
  <tr>
    <th>Responsible </th>
    <td>  {{page.attributes.responsible-name}}</td>
  </tr>
  <tr>
    <th>Contact </th>
    <td>  {{page.attributes.responsible-contact}}</td>
</table>
{{/if}}
{{{page.contents}}}
{{> pagination}}
</article>
