[submodule "Style Resources"]
	path = Style Resources
	url = ../style-resources.git
[submodule "Global Resources"]
	path = Global Resources
	url = ../global-resources.git
[submodule "Testing Rules"]
	path = Testing Rules
	url = ../testing-rules.git
[submodule "Linting Rules"]
	path = Linting Rules
	url = ../linting-rules.git
[submodule "ASAM Standard Template"]
	path = ASAM Standard Template
	url = https://code.asam.net/common/templates/standard-template.git
[submodule "Build"]
	path = Build
	url = ../build.git
[submodule "asam-antora-extensions"]
	path = asam-antora-extensions
	url = https://code.asam.net/common/asam-antora-extensions
