.doc h1, .doc h2, .doc  h3:not(.sect2:first-child h3), .doc h4:not(.sect3:first-child h4), .doc h5:not(.sect4:first-child h5), .doc h6:not(.sect5:first-child h6) {
    margin-top: 2.5rem !important;
}


.openblock.non-normative {
    border: 0.15rem solid #5d5d5d;
    background: #F2F4F4;
    border-radius: 0.5rem;
    padding: 0.75rem;
}

.doc .openblock.non-normative .title{
	text-transform: uppercase;
	background: #217ee7;
	color: #fff;
    top: 0;
    font-size: 0.83333rem;
    padding: 0 0.5rem;
    height: 1.25rem;
	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
	display: inline-flex;
}

.doc div.non-normative div.content div:nth-child(1){
	margin-top: 0;
}

span.green {
    color: darkgreen;
}
span.red {
    color: red;
}
span.blue {
    color: blue;
}
span.yellow {
    color: #CCCC00;
}
span.purple {
    color: purple;
}
span.orange {
    color: orange;
}
span.brown {
    color: brown;
}

.doc .openblock.non-normative .title,
.doc .admonitionblock .icon {
    border-radius: 1rem;
    left: 10px;
}

.doc .title {
    font-weight: 600;
}

/* Removes the title content for non-normative automatically and adds icon space! */
.doc .openblock.non-normative .title::before,
i.fa[class^='icon-'],
i.fa[class*=' icon-']::before {
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.25rem;
    margin-left: -0.5rem;
}

/* Overwrites the title content for non-normative automatically! */
.doc .openblock.non-normative .title::after {
	content="NON-NORMATIVE";
}

/* Assigns the "i" as icon for non-normative! */
.doc .openblock.non-normative .title::before,
i.fa.icon-note::before {
    background: no-repeat url("../img/note.svg");
}

i.fa.icon-tip::before {
    background: no-repeat url("../img/tip.svg");
}

i.fa.icon-important::before {
    background: no-repeat url("../img/important.svg");
}

i.fa.icon-warning::before {
    background: no-repeat url("../img/warning.svg");
}

i.fa.icon-caution::before {
    background: no-repeat url("../img/caution.svg");
}

.doc.red {
    color: red
}
.doc.green {
    color: green
}
.doc.blue {
    color: blue
}
.doc.yellow,
.span.yellow,
.code.yellow {
    color: yellow
}

.doc div.tabset .content .tab-pane table.tableblock * .admonitionblock * tr *{
	margin-top: 0;
}

.doc div.tabset .content .tab-pane table.tableblock * .admonitionblock table {
	margin-top: 1.5rem;
}

.doc table.tableblock * i.fa {
    margin-top: 0;
}