/* Style the Image Used to Trigger the Modal */
div.content > img:not(.flipcard img),
div.imageblock > object {
    border-radius: 1px;
    cursor: pointer;
    transition: 0.2s;
  }

div.content > img:not(.flipcard img):hover {opacity: 0.7;}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 10px;
    width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
    background-color: rgb(193,193,193); /* Fallback color */
    background-color: rgba(193,193,193,0.9); /* Black w/ opacity */
  }

  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
	padding: 20px;
    display: block;
    width: fit-content;
    max-width: fit-content;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #000;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.3s;
  }

  @keyframes zoom {
    from {transform:scale(0.5)}
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close, .modalZoomIn, .modalZoomOut {
    position: fixed;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close {
    top: 100px;
    right: 35px;
  }
  .modalZoomIn, .modalZoomOut {
	right: 35px;
	width: 52px;
	height: 52px;
  }
  .modalZoomIn {
	bottom: 100px;
  }
  .modalZoomOut {
	bottom: 50px;
  }


  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }