<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled_with_progress_bar'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
{{> progress_body}}
{{> footer}}
  </body>
</html>
